/* main styling */
main {
  display: flex;
  flex-direction: row;
}

/* body styling */
body {
  margin: 0%;
  background-color: #EDE6D6;
}

/* header styling */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B58863;
  height: 150px;
  width: 100%;
}

header > span {
  color: #FFFDD0;
  font-family: Inter;
  font-weight: 400; 
  font-size: 25px;
}

header > img {
  height: 80px;
  width: 80px;
}

/* board styling */
.boardElement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(8, auto);
  background-color: #F0D9B5;
  margin: auto;
  margin-top: 50px;
  width: 600px;
  height: 600px;
}

.squareElement {
  position: relative;
  width: 75px;
  height: 75px;
  margin: 0;
  padding: 0;
}

.pieceImg {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 0px;
  top: 0px
}

.lightCircle {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #666666;
  opacity: 50%;
  border-radius: 50%;
  left: 27.5px;
  top: 27.5px;
}

.sqRowLabel {
  position: absolute;
  height: 8px;
  width: 8px;
  font-family: Inter;
  font-weight: 400;
  margin: 0%;
  left: 3px;
  top: 3px;
}

.sqColLabel {
  position: absolute;
  height: 8px;
  width: 8px;
  font-family: Inter;
  font-weight: 400;
  margin: 0%;
  left: 65px;
  top: 55px;
}

/* Message styling */
.winningMessage, .startGame, .chooseColor {
  font-family: Inter;
  font-size: 5rem;
  font-weight: 400;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  color: #F0D9B5;
  flex-direction: column;
}

.winningMessage button, .startGame button, .chooseColor button {
  font-family: Inter;
  font-weight: 400;
  font-size: 3rem;
  background-color: #B58863;
  border: 1px solid black;
  padding: .25rem .5rem;
  cursor: pointer;
  color: #F0D9B5;
  border-radius: 5px;
  margin-bottom: 5px;
}

.winningMessage button:hover, .startGame button:hover, .chooseColor button:hover {
  background-color: #F0D9B5;
  color: #B58863;
  border-color: 1px solid white;
}

/* flip button styling */
.flipElement {
  position: absolute;
  left: 75%;
  top: 62%;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 75px;
  align-items: center;
}

.flipButton {
  width: 80px;
  height: 40px;
  background-color: white;
  border: solid #B58863;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flipButton.on {
  background-color: #FFFDD0;
}

.flipCircle {
  width: 35px;
  height: 35px;
  background-color: #D6B588;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: left 0.3s ease;
  margin-left: 2px;
}

.flipButton.on .flipCircle {
  background-color: #B58863;
  left: 38px;
}

.flipText, .replayText {
  font-family: Inter;
  color: #B58863;
  font-weight: 600;
}

/* turnDisplay Styling */
.turnDisplay {
  position: absolute;
  left: 75%;
  top: 48%;
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 75px;
  align-items: center;
  justify-content: center;
  background-color: #B58863;
  border-radius: 2%;
}

.turnDisplay > span {
  font-family: Inter;
  font-weight: 500;
}

.turnSq {
  position: relative;
  width: 55px;
  height: 55px;
  padding: 0;
  border-radius: 20%;
  margin-right: 10px;
}

/* movePanel Styling */
.movePanel {
  position: absolute;
  left: 10%;
  top: 35%;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  align-items: center;
  background-color: #B58863;
  border-radius: 2%;

  font-family: Inter;
  font-weight: 500;
  color: white;
  overflow: auto; 
}

.movePanel > span {
  font-size: 20px;
  padding-top: 25px;
}

.moveTexts {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 80%;  
}

.moveTexts > p {
  padding: 3px;
  margin: auto;
  white-space: normal;
}

/* replayPanel Styling */
.replayPanel {
  position: absolute;
  left: 10%;
  top: 75%;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  align-items: center;
}

.replayButtons {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 75px;
  align-items: center;
  justify-content: center;
  background-color: #B58863;
  font-family: Inter;
  border-radius: 20px;
  font-weight: 500;
  font-size: 35px;
  color: white;
}

.replayButtons > button {
  all: unset; 
  background-color: #B58863;
  width: 60px;
  height: 60px;
  cursor: pointer;
  text-align: center;
}

.replayButtons > span {
  font-weight: 300;
}
