body {
  margin: 0%;
  background-color: #FFFDD0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B58863;
  height: 150px;
  width: 100%;
}

header > span {
  color: #FFFDD0;
  font-family: Inter;
  font-weight: 400;
}

header > img {
  height: 80px;
  width: 80px;
}

.boardElement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(8, auto);
  background-color: #F0D9B5;
  margin: auto;
  margin-top: 50px;
  width: 600px;
  height: 600px;
}

.squareElement {
  position: relative;
  width: 75px;
  height: 75px;
  margin: 0;
  padding: 0;
}

.pieceImg {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 0px;
  top: 0px
}

.lightCircle {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #666666;
  opacity: 50%;
  border-radius: 50%;
  left: 27.5px;
  top: 27.5px;
}

.winningMessage, .startGame {
  font-family: Inter;
  font-size: 5rem;
  font-weight: 400;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  color: #F0D9B5;
  flex-direction: column;
}

.winningMessage button, .startGame button {
  font-family: Inter;
  font-weight: 400;
  font-size: 3rem;
  background-color: #B58863;
  border: 1px solid black;
  padding: .25rem .5rem;
  cursor: pointer;
  color: #F0D9B5;
  border-radius: 5px;
  margin-bottom: 5px;
}

.winningMessage button:hover, .startGame button:hover {
  background-color: #F0D9B5;
  color: #B58863;
  border-color: 1px solid white;
}

main {
  display: flex;
  flex-direction: row;
}

.flipElement {
  position: absolute;
  left: 75%;
  top: 55%;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 75px;
  align-items: center;
}

.flipButton {
  width: 80px;
  height: 40px;
  background-color: #B58863;
  border: thick solid black;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flipButton.on {
  background-color: #FFFDD0;
}

.flipCircle {
  width: 32px;
  height: 32px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: left 0.3s ease;
}

.flipButton.on .flipCircle {
  left: 40px;
}

.flipText {
  font-family: Inter;
  color: #B58863;
  font-weight: 600;
}